.chatList-title{
  display : block;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: NotoSansKR-Medium;
}

.chatList{
  display: flex;
}

.chat-list {
  width: 50%;
  margin-right: 64px;
}

.chat-list-box{
  width: 480px;
  height: 86px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.chat-list-box:hover{
  background-color: #e5e1db;
}

.chat-list-box-img {
  width: 60px;
  height: 60px;
  border-radius: 70%;
  margin-left: 13px;
  overflow: hidden;
}

.chat-list-box-imgsource {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat-list-box-text{
  margin-left: 28px;
}

.chat-list-box-name{
  font-family: NotoSansKR-Medium;
  font-size: 16px;
  color: #212120;
  margin-bottom: 4px;
}

.chat-list-box-lastchat{
  font-family: NotoSansKR-Medium;
  font-size: 12px;
  color: #6F6C69;
}




.chat-room{
  width: 50%;
}

.chatting-box{
  width: 100%;
  height: 600px;
  padding: 24px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow:0px 4px 4px 0px #6F6C69;
  margin-bottom: 120px;
}

.chatting-opponent{
  display: flex;
  align-items: center;
}
.chatting-opponent-img{
  width: 40px;
  height: 40px;
  border-radius: 70%;
  margin-right: 20px;
  overflow: hidden;
}
.chatting-opponent-text{
  font-family: NotoSansKR-Medium;
}

.chatting-item{
  width: 100%;
  height: 54px;
  border-radius: 4px;
  margin-top: 16px;
  background-color: #212120;
  color: #FFFEFC;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.chatting-item-img{
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 4px;
  overflow: hidden;
}
.chatting-item-imgsource{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.chatting-item-text{
  margin-left: 12px;
}
.chatting-item-name{
  font-family: NotoSansKR-SemiBold;
  font-size: 12px;
}
.chatting-item-price{
  font-family: NotoSansKR-Regular;
  font-size: 12px;
}

.chatting-area{
  width: 100%;
  height: 400px;
  overflow-y: scroll;
}

.chatting-bubble-my{
  display: flex;
  justify-content:flex-end;
  align-items: flex-end;
  margin-top: 5px;
}

.chatting-bubble-my-text{
  display: inline-block;
  max-width: 250px;
  padding: 10px 20px 10px 20px; 
  border-radius: 16px 16px 0px 16px;
  background-color: #F8F8F8;
  font-size: 16px;
  text-align: right;
  font-family: NotoSansKR-Regular;
}

.chatting-bubble-my-timestamp{
  font-size: 12px;
  font-family: NotoSansKR-Regular;
  color: #D9D9D9;
  margin-right: 8px;
}

.chatting-bubble-your{
  display: flex;
  align-items: flex-end;
  margin-top: 5px;
}

.chatting-bubble-your-text{
  display: inline-block;
  max-width: 250px;
  padding: 10px 20px 10px 20px; 
  border-radius: 16px 16px 16px 0px;
  background-color: #EDECEC;
  font-size: 16px;
  font-family: NotoSansKR-Regular;
}

.chatting-bubble-your-timestamp{
  font-size: 12px;
  font-family: NotoSansKR-Regular;
  color: #D9D9D9;
  margin-left: 8px;
}

.chatting-buttons{
  display: flex;
  align-items: center;
}
.chatting-input{
  width: 70%;
  height: 40px;
  border-radius: 16px;
  margin-right: 20px;
  border: 1px solid #B6B2AD;
  padding: 12px;
}
.chatting-input:focus{
  border: 1px solid #4169E1;
}

.chatting-img-button{
  margin-right: 18px;
  cursor: pointer;
}
.chatting-send-button{
  width: 40px;
  height: 40px;
  border-radius: 70%;
  background-color: #4169E1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}