.Detail-Container {
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.Detail-Image {
    width: 522px;
    height: 522px;
    margin-right: 72px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.Detail-Image.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 이미지를 잘라서 컨테이너에 맞춤 */
    position: absolute;
    /* 컨테이너 안에서의 위치 고정 */
    top: 0;
    left: 0;
}

.Detail-Content {
    display: flex;
    flex-direction: column;
    width: 426px;
}

.Detail-FirstLine {
    display: flex;
    align-items: center;
}

.Detail-Title {
    font-family: NotoSansKR-Medium;
    font-size: 20px;
}

.Detail-Price {
    font-family: NotoSansKR-Medium;
    font-size: 20px;
    justify-content: flex-start;
    margin-bottom: 16px;
}

.Detail-Content {
    font-family: NotoSansKR-Regular;
    font-size: 16px;
    justify-content: flex-start;
    margin: 0px;
    margin-bottom: 24px;
}

.Detail-Info {
    display: flex;
}

.Detail-Info-Title {
    width: 124px;
    font-family: NotoSansKR-Medium;
    font-size: 16px;
    margin-bottom: 16px;
    color: #6F6C69;
    justify-content: flex-start;
}

.Detail-Info-Content {
    font-family: NotoSansKR-Regular;
    font-size: 16px;
    color: #212120;
    display: flex;
    justify-content: flex-start;
}

.Detail-UserBox {
    width: 426px;
    height: 88px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 4px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    /* 내부 좌측 여백 */
    box-sizing: border-box;
    /* padding 포함하여 크기 계산 */
}

.Detail-UserBox-Username {
    font-size: 16px;
    font-family: NotoSansKR-Regular;
    margin-bottom: 12px;
    color: #212120;
}

.Detail-UserBox-Userinfo {
    font-size: 16px;
    font-family: NotoSansKR-Regular;
    color: #6F6C69;
    display: flex;
    align-items: center;
}

.Detail-UserBox-Follow {
    width: 64px;
    height: 26px;
    border-radius: 4px;
    background-color: #212120;
    font-size: 12px;
    font-family: NotoSansKR-Regular;
    color: #FFFEFC;
    text-align: center;
    line-height: 26px;
    /* 버튼의 세로 텍스트 정렬 */
    cursor: pointer;
}

.HeartBox {
    display: flex;
    flex-direction: column;
    width: 20px;
    font-size: 10px;
    text-align: center;
    justify-content: center;
}

.HeartBox-Image {
    width: 20px;
    height: 20px;
}