.Detail-Container{
    display: flex;
    width: 100%;
}

.Detail-Image {
    width: 600px;
    height: 600px;
    margin-right: 20px;
}

.Detail-Content{
    display: flex;
    flex-direction: column;
    width: 384px;
    margin-left: 20px;
}

.Detail-FirstLine{
    display: flex;
    align-items: center;
}

.Detail-Title{
    font-family: NotoSansKR-Medium;
    font-size: 20px;
}

.Detail-Price{
    font-family: NotoSansKR-Medium;
    font-size: 20px;
    justify-content: flex-start;
}

.Detail-Content {
    font-family: NotoSansKR-Regular;
    font-size: 16px;
    justify-content: flex-start;
    margin: 0px;
}

.Detail-Info{
    display: flex;
}

.Detail-Info-Title{
    width: 120px;
    font-family: NotoSansKR-Medium;
    font-size: 16px;
    color: #6F6C69;
    justify-content: flex-start;
}

.Detail-Info-Content{
    font-family: NotoSansKR-Regular;
    font-size: 16px;
    color: #212120;
    justify-content: flex-start;
}