.Edit-Title-1 {
    display: block;
    margin-top: 30px;
    margin-bottom: 24px;
    font-size: 20px;
    font-family: NotoSansKR-Medium;
    text-align: center;
}

.Edit-Title-2 {
    font-size: 16px;
    font-family: NotoSansKR-Medium;
    color: #212120;
}

.Edit-Image {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
    width: 100%;
}

.Edit-Input-Row {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}

.Edit-Input-Title {
    border-radius: 8px;
    border: 1px solid #B6B2AD;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}
.Edit-Input-Title:focus{
    border-color: #4169E1;
}

.Edit-Input-Content {
    border-radius: 8px;
    border: 1px solid #B6B2AD;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    height: 320px;
    resize: none;
    outline: none;
    align-content: baseline;
    text-align: left;
    transition: border-color 0.3s;
}
.Edit-Input-Content:focus{
    border-color: #4169E1;
}

.Edit-Input-Brand {
    border-radius: 8px;
    border: 1px solid #B6B2AD;
    padding: 12px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.Edit-Input-Brand:focus {
    border-color: #4169E1;
}

.Edit-Input {
    border-radius: 4px;
    border: 1px solid #B6B2AD;
    width: 240px;
    height: 3rem;
}

.Edit-Input-Price {
    border-radius: 8px;
    border: 1px solid #B6B2AD;
    padding: 12px;
    font-size: 16px;
    width: 240px;
    outline: none;
    transition: border-color 0.3s;
}

.Edit-Input-Price:focus {
    border-color: #4169E1;
}

.Edit-ButtonArea {
    display: flex;
    justify-self: center;
    margin-top: 40px;
}

.upload-Container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 12px;
    gap: 30px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.file {
    opacity: 0;
    width: 80%;
    height: 100%;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.file::file-selector-button {
    font-size: 14px;
    background: #fff;
    border: 1px solid #111;
    border-radius: 12px;
    padding: 4px 32px;
    cursor: pointer;
}

.dropbox {
    width: 180px;
    height: 180px;
    background-color: #fff;
    border-radius: 5px;
    border: 3px dashed #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: flex-start;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropbox:hover {
    border-color: #4169E1;
}

.dropbox.active {
    background-color: #efeef3;
    border-color: #4169E1;
}

.dropbox:hover .add-image {
    fill: #4169E1;
    margin-bottom: 8px;
}

.add-image {
    width: 52px;
    height: 52px;
    margin-bottom: 8px;
}

.dropbox-text {
    font-size: 10px;
    font-family: NotoSansKR-Regular;
    color: #B6B2AD;
}

.image-preview-box {
    width: 180px;
    height: 180px;
    box-shadow: 0px 2px 2px 0px #6F6C69;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
    cursor: pointer;
}

.image-close-button {
    position: absolute;
    right: -14px;
    top: -14px;
    z-index: 4;
    cursor: pointer;
}