.UserStore-Image {
    width: 160px;
    height: 160px;
    border-radius: 70%;
    margin-right: 56px;
    overflow: hidden;
    position: relative;
}

.Store-Image-Source {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Store-Image:hover::after {
    content: ""; /* 가상 요소 생성 */
    position: absolute; /* 절대 위치 지정 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212120;
    opacity: 70%;
    z-index: 1; /* 이미지를 덮을 수 있도록 높은 z-index 설정 */
}

.Store-Image:hover .change-photo-button {
    display: block; /* 호버 시 버튼 표시 */
}

.change-photo-button {
    position: absolute; /* 버튼을 절대 위치로 설정 */
    top: 50%; /* 수직 중앙 */
    left: 50%; /* 수평 중앙 */
    transform: translate(-50%, -50%); /* 버튼을 정확히 중앙에 위치시킴 */
    background-color: none;
    color: #FFFEFC;
    border: 1px solid #FFFEFC;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    z-index: 2; /* 버튼이 레이어 위에 오도록 설정 */
    display: none; /* 기본적으로 숨김 */
}

.change-photo-button:hover{
    transform: translate(-50%, -50%) scale(1.1);
    cursor: pointer;
}

.change-photo-input {
    opacity: 0;
    width: 80%;
    height: 100%;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.change-basic-image{
    width: 160px;
    font-size: 12px;
    margin-top: 4px;
    font-family: NotoSansKR-Regular;
    color: #B6B2AD;
    text-align: center;
    cursor: pointer;
}

.Store-Content {
    width: auto;
}

.Store-Content-Name {
    font-family: NotoSansKR-Medium;
    font-size: 20px;
    margin-bottom: 12px;
}

.Store-Content-Rate {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.Store-Content-Detail {
    display: flex;
    flex-direction: row;
}

.Store-Tab {
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: space-between;
    position: relative;
}

.Store-Tab-Title {
    width: 50%;
    text-align: center;
    font-family: NotoSansKR-Medium;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.TabContent-Start {
    opacity: 0;
}

.TabContent-End {
    opacity: 1;
    transition: opacity 0.2s;
}

.TabContent-Item {
    display: flex !important;
    flex-wrap: wrap;
    margin-top: 36px;
    gap: 48px;
    justify-content: flex-start;
    align-items: flex-start;
}

.Tab-Bar {
    position: absolute;
    left: 25%;
    height: 4px;
    width: 60px;
    background-image: url("./Tab_Bar.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out;
}

.MyStore-Tab {
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: space-around;
    position: relative;
}

.MyStore-Tab-Title {
    text-align: center;
    font-family: NotoSansKR-Medium;
    cursor: pointer;
    padding: 8px 16px;
    position: relative;
    color: #B6B2AD;
    transition: color 0.3s ease-in-out;
    width: 33.3333%;
}

.MyStore-Tab-Title:hover {
    color: #212120;
    /* 마우스 오버 시 색상 변경 */
}

.MyStore-Tab-Title.active {
    color: #212120;
    /* 활성화된 탭은 원래 색 */
}

.MyStoreTab-Indicator {
    position: absolute;
    bottom: -2px;
    height: 4px;
    background-color: #4169E1;
    border-radius: 2px;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    left: 0;
    transform-origin: left;
}