.Store-Image {
    width: 160px;
    height: 160px;
    border-radius: 70%;
    margin-right: 56px;
    overflow: hidden;
}

.Store-Image-Source {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Store-Content {
    width: auto;
}

.Store-Content-Name {
    font-family: NotoSansKR-Medium;
    font-size: 20px;
    margin-bottom: 12px;
}

.Store-Content-Rate {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.Store-Content-Detail {
    display: flex;
    flex-direction: row;
}

.Store-Tab {
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: space-between;
    position: relative;
}

.Store-Tab-Title {
    width: 50%;
    text-align: center;
    font-family: NotoSansKR-Medium;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.TabContent-Start {
    opacity: 0;
}

.TabContent-End {
    opacity: 1;
    transition: opacity 0.2s;
}

.TabContent-Item{
    display: flex !important;
    flex-wrap: wrap;
    margin-top: 36px;
    gap: 84px;
    justify-content: flex-start;
    align-items: flex-start;
}

.Tab-Bar {
    position: absolute;
    left: 25%;
    height: 4px;
    width: 60px;
    background-image: url("./Tab_Bar.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out;
}
