.Store-Image {
    width: 160px;
    height: 160px;
    border-radius: 70%;
    margin-right: 56px;
    overflow: hidden;
}

.Store-Image-Source {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Store-Content {
    width: auto;
}

.Store-Content-Name {
    font-family: NotoSansKR-Medium;
    font-size: 20px;
    margin-bottom: 12px;
}

.Store-Content-Rate {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.Store-Content-Detail {
    display: flex;
    flex-direction: row;
}

.Store-Tab {
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: space-between;
    position: relative;
}

.Store-Tab-Title {
    width: 50%;
    text-align: center;
    font-family: NotoSansKR-Medium;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.TabContent-Start {
    opacity: 0;
}

.TabContent-End {
    opacity: 1;
    transition: opacity 0.2s;
}

.TabContent-Item {
    display: flex !important;
    flex-wrap: wrap;
    margin-top: 36px;
    gap: 48px;
    justify-content: flex-start;
    align-items: flex-start;
}

.Tab-Bar {
    position: absolute;
    left: 25%;
    height: 4px;
    width: 60px;
    background-image: url("./Tab_Bar.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out;
}

.MyStore-Tab {
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: space-around;
    /* 탭을 균등하게 배치 */
    position: relative;
}

.MyStore-Tab-Title {
    text-align: center;
    font-family: NotoSansKR-Medium;
    cursor: pointer;
    padding: 8px 16px;
    position: relative;
    color: #B6B2AD;
    /* 기본적으로 연한 회색 */
    transition: color 0.3s ease-in-out;
    width: 33.3333%;
    /* 각 탭을 3등분 */
}

.MyStore-Tab-Title:hover {
    color: #212120;
    /* 마우스 오버 시 색상 변경 */
}

.MyStore-Tab-Title.active {
    color: #212120;
    /* 활성화된 탭은 원래 색 */
}

.MyStoreTab-Indicator {
    position: absolute;
    bottom: -2px;
    height: 4px;
    background-color: #4169E1;
    /* 언더바 색상 */
    border-radius: 2px;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}