.Banner-Container {
    display: flex;
}

.Recommend-Title {
    display: block;
    font-size: 20px;
    font-family: NotoSansKR-Medium;
    margin-top: 30px;
}

.Recommend-Carousel {
    display: block;
    height: 340px;
}

.Recommend-Button {
    display: float;
    align-items: center;
}

.Recommend-Gallery {
    display: flex;
    font-family: NotoSansKR-Medium;
    margin-top: 24px;
    flex-wrap: wrap;
    margin-top: 36px;
    gap: 84px;
    justify-content: flex-start;
    align-items: flex-start;
}

.Category-Result {
    display: flex;
    flex-wrap: wrap;
    gap : 84px;
    justify-content: flex-start;
}