.Write-Title-1{
    display : block;
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 20px;
    font-family: NotoSansKR-Medium;
}

.Write-Title-2{
    display : block;
    font-size: 16px;
    font-family: NotoSansKR-Medium;
    width: 172px;
    margin-top: 0.6rem;
}

.Write-Image{
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}

.Write-Input-Row{
    display : flex;
    margin-bottom: 36px;
}

.Write-Input-Title{
    border-radius: 2px;
    border: 1px solid #B6B2AD;
    width: 700px;
    height: 3rem;
    flex-grow: 1;
}

.Write-Input-Content{
    border-radius: 2px;
    border: 1px solid #B6B2AD;
    width: 700px;
    height: 120px;
    align-content: baseline;
    flex-grow: 1;
}

.Write-Input{
    border-radius: 2px;
    border: 1px solid #B6B2AD;
    width: 200px;
    height: 3rem;
}

.Write-Input-Price{
    border-radius: 2px;
    border: 1px solid #B6B2AD;
    width: 160px;
    height: 3rem;
}
.Write-Input-Price:focus{
    border-radius: 0px !important; 
    border: 1px solid #4169E1 !important;
}

.Write-ButtonArea{
    display: flex;
    width: 300px;
    justify-self:center;
    justify-content: space-between;
}

.upload-Container{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-top: 8px;
    align-items: center;
    gap: 40px;
}

.file {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
.file::file-selector-button {
    font-size: 14px;
    background: #fff;
    border: 1px solid #111;
    border-radius: 12px;
    padding: 4px 32px;
    cursor: pointer;
}

.dropbox {
    width: 216px;
    height: 216px;
    background-color: #fff;
    border-radius: 5px;
    border: 3px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    align-self: flex-start;
    margin-right: 16px; /* input과 이미지 사이에 16px 간격을 추가 */
}
.dropbox:hover {
    border-color: #4169E1;
    transition: 0.1s;
}
.dropbox.active {
    background-color: #efeef3;
    border-color: #4169E1;
    transition: 0.1s;
}
.dropbox:hover .add-image{
    fill: #4169E1;
    margin-bottom: 8px;
    transition: fill 0.1s;
}

.add-image{
    width: 56px;
    height: 56px;
    margin-bottom: 8px;
}

.dropbox-text{
    font-size: 10px;
    font-family: NotoSansKR-Regular;
    color:  #B6B2AD;
}

.image-preview {
    width: 216px;
    height: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
