.ButtonSmall{
    border-radius: 2px;
    width: 100px;
    height: 40px;
    background-color: #FFFEFC;
    border: 1px solid #212120;
    text-align: center;
    padding: 6px;
    font-size: 16px;
    font-family: NotoSansKR-Medium;
    transition-duration: 0.2s;
    cursor: pointer;
}
.ButtonSmall:hover{
    background-color: #212120;
    border: 1px solid #212120;
    color: #FFFEFC;
}

.DeleteButton{
    border-radius: 4px;
    width: 384px;
    height: 60px;
    background-color: #FFFEFC;
    border: 1px solid #212120;
    color:#212120;
    text-align: center;
    padding: 12px;
    font-size: 20px;
    font-family: NotoSansKR-SemiBold;
    transition-duration: 0.2s;
    cursor: pointer;
}
.DeleteButton:hover{
    border-radius: 4px;
    background-color: #DB1619;
    border: 1px solid #DB1619;
    color: #FFFEFC;
    cursor: pointer;
}

.BuyButton{
    border-radius: 4px;
    width: 384px;
    height: 60px;
    background-color: #4169E1;
    border: none;
    color:#FFFEFC;
    text-align: center;
    padding: 12px;
    font-size: 20px;
    font-family: NotoSansKR-SemiBold;
    transition-duration: 0.2s;
    cursor: pointer;
}

.ButtonMedium{
    border-radius: 2px;
    width: 124px;
    height: 60px;
    background-color: #FFFEFC;
    border: 1px solid #212120;
    color:#212120;
    text-align: center;
    padding: 4px;
    font-size: 20px;
    font-family: NotoSansKR-Medium;
    transition-duration: 0.2s;
    cursor: pointer;
}
.ButtonMedium:hover{
    background-color: #212120;
    border: 1px solid #212120;
    color: #FFFEFC;
    cursor: pointer;
}

.SignUpButton{
    border-radius: 4px;
    width: 300px;
    height: 40px;
    background-color: #B6B2AD;
    border: none;
    color:#FFFEFC;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    font-family: NotoSansKR-Medium;
    cursor: pointer;
}