.CardSmallContainer {
    width: 220px;
    height: 288px;
    margin-bottom: 10px;
    background-color: none;
    cursor: pointer;
}

.CardSmall-Image {
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 5px;
}

.CardSmall-Image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease-in-out;
}

.CardSmall-Image:hover::after {
    background-color: rgba(0, 0, 0, 0.1);
}

.CardSmall-Image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.CardSmall-Image.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.Card-First {
    display: flex;
    font-size: 12px;
    margin-bottom: 2px;
    font-family: NotoSansKR-Medium;
}

.Card-Title {
    display: block;
    font-Size: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: NotoSansKR-Regular;
}

.Card-Price {
    display: block;
    font-Size: 16px;
    font-family: NotoSansKR-Bold;
}