.Header {
    width: 100%;
    margin-top: 16px;
    border-bottom: 0.5px solid #D9D9D9;
}

.Header-Top {
    display: flex;
    font-family: NotoSansKR-Regular;
}

.Header-Top-Right {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
}

.Header-Top-Buttons {
    width: 60px;
    font-size: 12px;
    text-align: right;
    margin-right: 32px;
}

.Header-First {
    background-color: #FFFEFC;
    display: flex;
    justify-content: center;
    font-family: NotoSansKR-Regular;
    margin-bottom: 16px;
}

.Header-First-Logo {
    flex-grow: 1;
    margin-left: 32px;
}

.Header-First-SearchBar {
    flex-grow: 3;
    justify-content: center;
}

.Header-First-Menu {
    display: flex;
    font-size: 14px;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    margin-right: 32px;
}

.Header-First-Menu-Buttons {
    text-align:right;
}

.Header-Menu-Link{
    text-decoration: none;
    color: #212120;
    font-family: NotoSansKR-Medium;
}

.Header-DropDown-Title{
    display: flex;
    font-family:NotoSansKR-Medium;
    color: #212120;
    cursor: pointer;
    height: 40px;
    align-items: center;
    position: relative;
    background: #FFFEFC;
}

.Header-DropDown-Container{
    position: absolute;
    right: 0;
    z-index: 10;
    border-radius: 4px;
    width:120px;
    background:#FFFEFC;
    box-shadow: 0px 2px 2px 0px #6F6C69;
}

.Header-DropDown-Menu{
    font-family: NotoSansKR-Medium;
    color: #212120;
    cursor: pointer;
    height: 40px;
    width: 120px;
    text-align: right;
    padding-right: 8px;
    line-height: 40px;
    z-index: 10;
    border-bottom: 0.5px solid #D9D9D9;
}