.Header {
    width: 100%;
    border-bottom: 0.5px solid #D9D9D9;
}

.Header-Top {
    display: flex;
    font-family: NotoSansKR-Regular;
}

.Header-Top-Right {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
}

.Header-Top-Buttons {
    width: 60px;
    font-size: 12px;
    text-align: right;
    margin-right: 32px;
}

.Header-First {
    background-color: #FFFEFC;
    display: flex;
    justify-content: center;
    font-family: NotoSansKR-Regular;
    margin-bottom: 32px;

}

.Header-First-Logo {
    flex-grow: 1;
    margin-left: 32px;
}

.Header-First-SearchBar {
    flex-grow: 3;
    justify-content: center;
}

.Header-First-Menu {
    display: flex;
    font-size: 14px;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    margin-right: 32px;
}

.Header-First-Menu-Buttons {
    text-align:right;
}

.Header-Menu-Link{
    text-decoration: none;
    color: #212120;
    font-family: NotoSansKR-Medium;
}