.Search-Box{
    display : flex;
    border: 1px solid #B6B2AD;
    max-width: 540px;
    height: 44px;
    align-items: center;
    position: relative;
    border-radius: 20px;
}
.Search-Box:focus-within{
    border: 1px solid #4169E1;
}

.Search-Input {
    border-radius: 0px;
    border: none;
    width : 80%;
    height: 38px;
    margin-left: 12px;
    background-color: unset;
}

.Search-Input::placeholder {
    color: #B6B2AD;
    font-size: 16px;
}

.Search-Input:focus {
    border-radius: 0px;
    outline: none;
}

.Search-Button {
    border-radius: 0px;
    background: none; 
    border: none;
    position: absolute;
    top: 6px;
    right: 6px;
}

.Search-Button:focus-within {
    background: none;
    border: none;
}

.Search-Box:focus-within .SearchButton path {
    fill: #4169E1; /* 포커스 시 색상 변경 */
}

.SearchButton path {
    fill: #B6B2AD; /* 기본 색상 */
}