.Container {
    display: flex;
    width: 100%;
    overflow: hidden;
    align-items: center;
    position: relative;
}

.SliderContainer {
    width: 100%;
    display: flex; 
}

.SliderButton {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    width:18px;
    height: 18px;
}
.right {
    right: 10px;
}
.left {
    left: 10px;
}